
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Eroor 404</title>
</head>
<body>
    <div> 
        <img src="~/Content/404-Error.png" />
        <img src="~/Content/cat_upsidedown.png" />
    </div>
</body>
</html>
